Repository axeptio/flutter-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-format, flutter-test, actionlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: flutter-analyze
        name: Flutter Analyze
        entry: flutter analyze
        language: system
        pass_filenames: false
        files: \.(dart)$
        
      - id: flutter-format
        name: Flutter Format
        entry: dart format --set-exit-if-changed
        language: system
        files: \.(dart)$
        
      - id: flutter-test
        name: Flutter Test
        entry: flutter test
        language: system
        pass_filenames: false
        files: \.(dart)$

  - repo: local
    hooks:
      - id: actionlint
        name: GitHub Actions Lint  
        entry: bash -c 'command -v actionlint >/dev/null 2>&1 || { go install github.com/rhymond/actionlint/cmd/actionlint@latest && export PATH="$HOME/go/bin:$PATH"; } && actionlint'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict]

fix(ci): correct Codecov action parameter from 'file' to 'files'
  .github/workflows/unit-test.yml
Due: actionlint

fix(ci): add missing @semantic-release/exec dependency
  .github/workflows/semver-release.yml
Due: actionlint

feat(dev): pin Node.js version to 22 with .nvmrc
  .nvmrc
  CONTRIBUTING.md
Due: none

feat(ci): add beta release workflow for next version testing
  .github/workflows/beta-release.yml
  CLAUDE.md
  CONTRIBUTING.md
Due: actionlint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

feat(example): add close button to preferences dialog title
  example/lib/preferences_dialog.dart
Due: flutter-analyze, flutter-format, flutter-test

Update .github/workflows/beta-release.yml
  .github/workflows/beta-release.yml
Due: actionlint

feat: implement consent debug info with proper scrolling functionality
  example/lib/debug_info_dialog.dart
  example/lib/main.dart
  lib/src/channel/axeptio.dart
  lib/src/channel/axeptio_sdk_method_channel.dart
  lib/src/channel/axeptio_sdk_platform_interface.dart
  test/axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

feat: update iOS SDK to version 2.0.15
  CHANGELOG.md
  example/ios/Podfile.lock
  ios/axeptio_sdk.podspec
  pubspec.yaml
Due: none

feat: update native SDKs - iOS 2.0.15 and Android 2.0.8
  CHANGELOG.md
  android/build.gradle
  example/android/build.gradle
Due: none

feat: add comprehensive TCF vendor consent management APIs
  CHANGELOG.md
  README.md
  example/lib/main.dart
  example/pubspec.lock
  lib/src/channel/axeptio.dart
  lib/src/channel/axeptio_sdk_method_channel.dart
  lib/src/channel/axeptio_sdk_platform_interface.dart
  test/axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

docs: correct platform support for TCF vendor APIs
  CHANGELOG.md
  README.md
Due: none

fix: address critical Cubic AI review issues
  lib/src/channel/axeptio_sdk_method_channel.dart
  pubspec.yaml
Due: flutter-analyze, flutter-format, flutter-test

feat(ci): enhance publish workflow to support beta releases via dispatch
  .github/workflows/publish.yml
Due: actionlint

style: fix dart formatting for CI compliance
  example/lib/debug_info_dialog.dart
  example/lib/main.dart
  example/lib/preferences_dialog.dart
Due: flutter-analyze, flutter-format, flutter-test

fix: address all critical Cubic AI review issues
  README.md
  example/lib/debug_info_dialog.dart
  example/lib/preferences_dialog.dart
  lib/src/channel/axeptio_sdk_method_channel.dart
Due: flutter-analyze, flutter-format, flutter-test

fix: resolve Dart analyzer issues in getVendorConsents
  example/pubspec.lock
  lib/src/channel/axeptio_sdk_method_channel.dart
Due: flutter-analyze, flutter-format, flutter-test

security: fix critical README security issues for third-party developers
  README.md
Due: none

docs: update README table of contents structure and formatting
  README.md
Due: none

test: add comprehensive vendor API bridge validation tests
  test/axeptio_sdk_method_channel_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix: add native vendor API method channel handlers for iOS and Android
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioSdkPlugin.kt
  ios/Classes/AxeptioSdkPlugin.swift
Due: none

fix: resolve iOS bridge type casting error for [Int: Bool] dictionaries
  ios/Classes/AxeptioSdkPlugin.swift
Due: none

docs: enforce 95% test coverage and quality standards
  CLAUDE.md
Due: none

fix: implement tag-driven version publishing workflow
  .github/workflows/publish.yml
  RELEASE_PROCESS.md
Due: actionlint

fix: enhance dry-run step with version logging
  .github/workflows/publish.yml
Due: actionlint

fix: align dry-run workflow with new version management approach
  .github/workflows/dry-run-publish.yml
Due: actionlint

fix: resolve actionlint shellcheck issues in workflows
  .github/workflows/dry-run-publish.yml
  .github/workflows/publish.yml
Due: actionlint

fix: implement manual workflow dispatch with consistent release tag logic
  .github/workflows/dry-run-publish.yml
  .github/workflows/publish.yml
  RELEASE_PROCESS.md
Due: actionlint

feat(ci): implement manual workflow dispatch for publishing
  .github/workflows/dry-run-publish.yml
  .github/workflows/publish.yml
  RELEASE_PROCESS.md
Due: actionlint

feat(ci): add changelog validation to both publishing workflows
  .github/workflows/dry-run-publish.yml
  .github/workflows/publish.yml
Due: actionlint

chore: add missing changelog entries and bump version to 2.0.16
  CHANGELOG.md
  pubspec.yaml
Due: none

fix(ci): handle non-existent release tags in dry-run workflow
  .github/workflows/dry-run-publish.yml
Due: actionlint

feat(test): add comprehensive test coverage for SDK components
  example/pubspec.lock
  test/axeptio_sdk_method_channel_test.dart
  test/axeptio_sdk_test.dart
  test/events/event_listener_test.dart
  test/model/consents_v2_test.dart
  test/preferences/native_default_preferences_test.dart
Due: flutter-analyze, flutter-format, flutter-test

docs(test): add comprehensive testing documentation and guidelines
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  TESTING.md
Due: none

fix(test): address cubic AI review feedback on test quality
  test/axeptio_sdk_method_channel_test.dart
  test/model/consents_v2_test.dart
Due: flutter-analyze, flutter-format, flutter-test

feat(example): implement comprehensive TCF vendor management UI
  example/lib/config_screen.dart
  example/lib/debug_info_dialog.dart
  example/lib/main.dart
  example/lib/preferences_dialog.dart
  example/lib/vendor_data_service.dart
  example/lib/vendor_screen.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(example): enhance Clear Consent with immediate refresh and visual feedback
  example/lib/main.dart
  example/lib/vendor_data_service.dart
Due: flutter-analyze, flutter-format, flutter-test

style: fix dart formatting for CI compliance
  example/lib/config_screen.dart
  example/lib/debug_info_dialog.dart
  example/lib/main.dart
  example/lib/preferences_dialog.dart
  example/lib/vendor_data_service.dart
  example/lib/vendor_screen.dart
Due: flutter-analyze, flutter-format, flutter-test

style: fix dart formatting in test files for CI compliance
  test/axeptio_sdk_method_channel_test.dart
  test/axeptio_sdk_test.dart
  test/events/event_listener_test.dart
  test/model/consents_v2_test.dart
  test/preferences/native_default_preferences_test.dart
Due: flutter-analyze, flutter-format, flutter-test
