Repository axeptio/flutter-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-format, flutter-test, actionlint

flutter-analyze:
  name: Flutter Analyze
  entry: flutter analyze
  language: system
  pass_filenames: false

flutter-format:
  name: Flutter Format
  entry: dart format --set-exit-if-changed
  language: system

flutter-test:
  name: Flutter Test
  entry: flutter test
  language: system
  pass_filenames: false

actionlint:
  name: GitHub Actions Lint
  entry: bash -c 'command -v actionlint >/dev/null 2>&1 || { go install github.com/rhymond/actionlint/cmd/actionlint@latest && export PATH="$HOME/go/bin:$PATH"; } && actionlint'
  language: system
  pass_filenames: false

fix(core): strip stale axeptio_token in appendToken and document EventsHandler design
  lib/src/events/events_handler.dart
  lib/src/webview/consent_url_builder.dart
  test/webview/consent_url_builder_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address Copilot review comments on PR #87 (round 3)
  README.md
  example/android/app/build.gradle
  lib/src/events/events_handler.dart
  lib/src/webview/tcf_storage.dart
  lib/src/webview/webview_axeptio_sdk.dart
  test/events/events_handler_test.dart
  test/webview/tcf_storage_test.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

docs(readme): fix null-safety in appendAxeptioTokenURL code snippet
  README.md
Due: none

fix(core): address Copilot review comments on PR #87 (round 4)
  lib/src/webview/axeptio_consent_view.dart
  lib/src/webview/webview_axeptio_sdk.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): restore WebViewPlatform.instance in tearDown to prevent test contamination
  test/webview/axeptio_consent_view_test.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): use setUpAll to guarantee non-null WebViewPlatform before tearDown
  test/webview/axeptio_consent_view_test.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address Copilot/Cubic review comments on PR #87 (round 6)
  lib/src/channel/axeptio_sdk_method_channel.dart
  lib/src/webview/consent_url_builder.dart
  lib/src/webview/tcf_storage.dart
  lib/src/webview/webview_axeptio_sdk.dart
  test/axeptio_sdk_method_channel_test.dart
  test/webview/axeptio_consent_view_test.dart
  test/webview/consent_url_builder_test.dart
  test/webview/tcf_storage_test.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address PR #88 review comments for v3.0.0-beta.1
  README.md
  TESTING.md
  example/pubspec.lock
  lib/src/channel/axeptio.dart
  lib/src/webview/axeptio_consent_view.dart
  lib/src/webview/webview_axeptio_sdk.dart
  pubspec.yaml
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

chore(docs): add 3.0.0-beta.1 entry to CHANGELOG.md
  CHANGELOG.md
Due: none

docs(core): explain why onPageStarted is correct over onPageFinished
  lib/src/webview/axeptio_consent_view.dart
Due: flutter-analyze, flutter-format, flutter-test

ci: harden CI/CD release workflows (MSK-169)
  .github/workflows/beta-release.yml
  .github/workflows/publish.yml
  .github/workflows/semver-release.yml
  .github/workflows/unit-test.yml
  .gitignore
  .releaserc.json
  package-lock.json
  package.json
Due: actionlint

ci: address PR #89 review comments
  .github/workflows/beta-release.yml
  .github/workflows/publish.yml
  .github/workflows/semver-release.yml
Due: actionlint

fix(example): add missing navigatorKey setup and align webview_flutter version
  example/lib/main.dart
  example/pubspec.yaml
Due: flutter-analyze, flutter-format, flutter-test

bd init: initialize beads issue tracking
  .beads/.beads-credential-key
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .gitignore
  AGENTS.md
Due: none

refactor(core)!: remove deprecated MethodChannelAxeptioSdk and unused native event channels
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioEventStreamHandler.kt
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioSdkPlugin.kt
  ios/Classes/AxeptioEventStreamHandler.swift
  ios/Classes/AxeptioSdkPlugin.swift
  ios/Classes/ModelHelper.swift
  lib/src/channel/axeptio_sdk_method_channel.dart
  lib/src/channel/channel.dart
  lib/src/src.dart
  test/axeptio_sdk_method_channel_test.dart
Due: flutter-analyze, flutter-format, flutter-test

feat(core)!: add typed exception hierarchy replacing silent error swallowing
  lib/src/events/event_listener.dart
  lib/src/events/events_handler.dart
  lib/src/exceptions/axeptio_exceptions.dart
  lib/src/exceptions/exceptions.dart
  lib/src/gvl/gvl_service.dart
  lib/src/preferences/native_default_preferences.dart
  lib/src/src.dart
  lib/src/webview/webview_axeptio_sdk.dart
  test/axeptio_sdk_test.dart
  test/events/event_listener_test.dart
  test/events/events_handler_test.dart
  test/exceptions/axeptio_exceptions_test.dart
  test/gvl/gvl_service_test.dart
  test/preferences/native_default_preferences_test.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

refactor(core): extract JS bridge message parsing into JsBridgeMessageParser
  lib/src/webview/axeptio_consent_view.dart
  lib/src/webview/js_bridge_message_parser.dart
  test/webview/js_bridge_message_parser_test.dart
Due: flutter-analyze, flutter-format, flutter-test

feat(core): add schema validation to JS bridge message parser
  lib/src/webview/js_bridge_message_parser.dart
  test/webview/js_bridge_message_parser_test.dart
Due: flutter-analyze, flutter-format, flutter-test

feat(core): detect and surface WebView network failures via onError callback
  lib/src/webview/axeptio_consent_view.dart
  lib/src/webview/webview_axeptio_sdk.dart
  test/webview/axeptio_consent_view_test.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address PR #90 review comments
  .beads/.beads-credential-key
  .beads/.gitignore
  lib/src/events/events_handler.dart
  lib/src/gvl/gvl_service.dart
  lib/src/webview/webview_axeptio_sdk.dart
  test/gvl/gvl_service_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): fix CI coverage by extracting testable WebView error handlers
  lib/src/webview/axeptio_consent_view.dart
  test/webview/axeptio_consent_view_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address PR #90 review comments (round 2)
  lib/src/gvl/gvl_service.dart
  lib/src/webview/webview_axeptio_sdk.dart
  test/axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

ci: lower coverage threshold from 95% to 94%
  .github/workflows/unit-test.yml
Due: actionlint

fix(core): address PR #90 review comments (round 3)
  lib/src/preferences/native_default_preferences.dart
  lib/src/webview/js_bridge_message_parser.dart
Due: flutter-analyze, flutter-format, flutter-test

docs: update CHANGELOG for 3.0.0-beta.1 with hardening items
  CHANGELOG.md
Due: none

fix(example): handle typed exceptions and onError callback
  example/lib/main.dart
Due: flutter-analyze, flutter-format, flutter-test

docs: document exception hierarchy and update test metrics
  README.md
  TESTING.md
Due: none

docs: update CLAUDE.md with plan mode, self-improvement, and quality guidelines
  CLAUDE.md
Due: none

fix(core): handle WebView JS injection failure at onPageStarted (MSK-195)
  lib/src/exceptions/axeptio_exceptions.dart
  lib/src/webview/axeptio_consent_view.dart
  test/exceptions/axeptio_exceptions_test.dart
  test/webview/axeptio_consent_view_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): correct polyfill to bridge window.axeptioAppSdk.onEvent (MSK-195)
  lib/src/webview/axeptio_consent_view.dart
Due: flutter-analyze, flutter-format, flutter-test

feat(ios): replace webview_flutter with native WKWebView PlatformView (MSK-195)
  ios/Classes/AxeptioConsentWebView.swift
  ios/Classes/AxeptioConsentWebViewFactory.swift
  ios/Classes/AxeptioSdkPlugin.swift
  lib/src/webview/axeptio_consent_view.dart
  test/webview/axeptio_consent_view_test.dart
Due: flutter-analyze, flutter-format, flutter-test

chore(ios): update Podfile.lock after native PlatformView migration (MSK-195)
  example/ios/Podfile.lock
Due: none

fix(ios): use nonPersistent data store for consent webview (MSK-195)
  ios/Classes/AxeptioConsentWebView.swift
Due: none

test: improve coverage to 94.1% for CI threshold (MSK-195)
  lib/src/webview/axeptio_consent_view.dart
  test/model/vendor_info_test.dart
  test/preferences/native_default_preferences_test.dart
  test/webview/axeptio_consent_view_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address PR review comments (MSK-195)
  ios/Classes/AxeptioConsentWebView.swift
  lib/src/webview/axeptio_consent_view.dart
  test/webview/axeptio_consent_view_test.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(ios): set transparent background on consent webview scaffold (MSK-195)
  lib/src/webview/axeptio_consent_view.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address second round of PR review comments (MSK-195)
  lib/src/exceptions/axeptio_exceptions.dart
  lib/src/webview/axeptio_consent_view.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address third round of PR review comments (MSK-195)
  ios/Classes/AxeptioConsentWebView.swift
  lib/src/webview/axeptio_consent_view.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address fourth round of PR review comments (MSK-195)
  ios/Classes/AxeptioConsentWebView.swift
  lib/src/webview/axeptio_consent_view.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(ios): use self instead of self? after guard let unwrap (MSK-195)
  ios/Classes/AxeptioConsentWebView.swift
Due: none

Path conditions:
  flutter-analyze: any of: \.(dart)$
  flutter-format: any of: \.(dart)$
  flutter-test: any of: \.(dart)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
