Repository axeptio/flutter-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-format, flutter-test, actionlint

flutter-analyze:
  name: Flutter Analyze
  entry: flutter analyze
  language: system
  pass_filenames: false

flutter-format:
  name: Flutter Format
  entry: dart format --set-exit-if-changed
  language: system

flutter-test:
  name: Flutter Test
  entry: flutter test
  language: system
  pass_filenames: false

actionlint:
  name: GitHub Actions Lint
  entry: bash -c 'command -v actionlint >/dev/null 2>&1 || { go install github.com/rhymond/actionlint/cmd/actionlint@latest && export PATH="$HOME/go/bin:$PATH"; } && actionlint'
  language: system
  pass_filenames: false

fix: resolve flutter analyzer errors
  test/axeptio_sdk_test.dart
  test/preferences/native_default_preferences_test.dart
Due: flutter-analyze, flutter-format, flutter-test

refactor(example): rewrite vendor UI with production-ready code quality
  example/lib/vendor_data_service.dart
  example/lib/vendor_screen.dart
Due: flutter-analyze, flutter-format, flutter-test

feat(ci): implement automated changelog generation for publishing workflows
  .github/workflows/dry-run-publish.yml
  .github/workflows/publish.yml
Due: actionlint

fix(ci): quote gpg program path to resolve shellcheck warning
  .github/workflows/publish.yml
Due: actionlint

fix(ci): resolve TriPSs/conventional-changelog-action detached HEAD error
  .github/workflows/dry-run-publish.yml
  .github/workflows/publish.yml
Due: actionlint

fix(ci): ensure proper branch tracking for TriPSs/conventional-changelog-action
  .github/workflows/publish.yml
Due: actionlint

chore(release): v2.0.17 [skip ci]
  CHANGELOG.md
  pubspec.yaml
Due: none

fix(ci): use fallback-version parameter for TriPSs/conventional-changelog-action
  .github/workflows/publish.yml
Due: actionlint

fix(ci): remove fallback-version and restore original CHANGELOG.md format
  .github/workflows/publish.yml
  CHANGELOG.md
Due: actionlint

chore(release): v2.0.17 [skip ci]
  CHANGELOG.md
Due: none

fix(ci): use TriPSs/conventional-changelog-action@v6 with explicit version
  .github/workflows/publish.yml
Due: actionlint

fix(ci): configure TriPSs action for Flutter without v prefix and restore changelog
  .github/workflows/publish.yml
  CHANGELOG.md
Due: actionlint

fix(ci): rollback automated changelog, restore manual validation
  .github/workflows/publish.yml
  CHANGELOG.md
Due: actionlint

feat(core): implement GVL integration for vendor ID to name mapping (MSK-94)
  CHANGELOG.md
  README.md
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioGVLManager.kt
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioSdkPlugin.kt
  coverage/lcov.info
  example/pubspec.lock
  ios/Classes/AxeptioGVLManager.swift
  ios/Classes/AxeptioSdkPlugin.swift
  lib/src/channel/axeptio.dart
  lib/src/channel/axeptio_sdk_method_channel.dart
  lib/src/channel/axeptio_sdk_platform_interface.dart
  lib/src/model/model.dart
  lib/src/model/vendor_info.dart
  pubspec.yaml
  test/axeptio_sdk_method_channel_test.dart
  test/axeptio_sdk_test.dart
  test/model/vendor_info_test.dart
  test/preferences/native_default_preferences_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(tests): resolve all test failures and improve VendorInfo model
  lib/src/model/vendor_info.dart
  test/axeptio_sdk_method_channel_test.dart
  test/model/vendor_info_test.dart
Due: flutter-analyze, flutter-format, flutter-test

test: achieve 100% test success with comprehensive coverage improvements
  coverage/lcov.info
  test/axeptio_sdk_method_channel_test.dart
  test/channel/axeptio_sdk_platform_interface_test.dart
  test/events/event_listener_test.dart
  test/events/events_handler_test.dart
  test/model/vendor_info_test.dart
Due: flutter-analyze, flutter-format, flutter-test

feat(core): implement Flutter-native GVL service with HTTP client and vendor management
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioSdkPlugin.kt
  example/lib/vendor_data_service.dart
  example/lib/vendor_screen.dart
  example/pubspec.lock
  ios/Classes/AxeptioSdkPlugin.swift
  lib/src/channel/axeptio.dart
  lib/src/channel/axeptio_sdk_method_channel.dart
  lib/src/channel/axeptio_sdk_platform_interface.dart
  lib/src/gvl/gvl_service.dart
  pubspec.yaml
Due: flutter-analyze, flutter-format, flutter-test

test: update tests for Flutter-native GVL implementation
  test/axeptio_sdk_method_channel_test.dart
  test/axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

test: fix remaining GVL integration tests to achieve 100% pass rate
  test/axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

docs: update CHANGELOG.md v2.0.18 to accurately reflect Flutter-native GVL implementation
  CHANGELOG.md
Due: none

docs: clarify TCF context for both vendor management and GVL sections
  README.md
Due: none

refactor(core): remove orphaned native GVL managers
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioGVLManager.kt
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioSdkPlugin.kt
  ios/Classes/AxeptioGVLManager.swift
Due: none

style: apply dart format to fix code formatting
  example/lib/vendor_data_service.dart
  example/lib/vendor_screen.dart
  lib/src/channel/axeptio.dart
  lib/src/channel/axeptio_sdk_method_channel.dart
  lib/src/channel/axeptio_sdk_platform_interface.dart
  lib/src/gvl/gvl_service.dart
  lib/src/model/vendor_info.dart
  test/axeptio_sdk_method_channel_test.dart
  test/axeptio_sdk_test.dart
  test/channel/axeptio_sdk_platform_interface_test.dart
  test/events/event_listener_test.dart
  test/events/events_handler_test.dart
  test/model/vendor_info_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(analyze): resolve flutter analyze warnings and errors
  example/lib/vendor_data_service.dart
  lib/src/gvl/gvl_service.dart
  test/axeptio_sdk_method_channel_test.dart
  test/axeptio_sdk_test.dart
  test/events/events_handler_test.dart
  test/preferences/native_default_preferences_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(analyze): resolve flutter analyze warnings
  example/lib/vendor_data_service.dart
  lib/src/gvl/gvl_service.dart
  test/axeptio_sdk_method_channel_test.dart
  test/axeptio_sdk_test.dart
  test/events/events_handler_test.dart
  test/preferences/native_default_preferences_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(ci): prevent CI failure on flutter analyze info messages
  .github/workflows/unit-test.yml
Due: actionlint

fix(ci): add coverage/ to .gitignore to fix publish warnings
  .gitignore
  coverage/lcov.info
Due: none

fix(ci): sync pre-commit flutter analyze with CI workflow
  .pre-commit-config.yaml
Due: none

fix(ci): add --no-fatal-infos to all workflow flutter analyze commands
  .github/workflows/beta-release.yml
  .github/workflows/dry-run-publish.yml
  .github/workflows/publish.yml
  .github/workflows/semver-release.yml
Due: actionlint

fix(core): eliminate all flutter analyze info-level warnings
  example/lib/vendor_screen.dart
  lib/src/gvl/gvl_service.dart
  test/model/vendor_info_test.dart
Due: flutter-analyze, flutter-format, flutter-test

chore(deps): upgrade native SDKs to Android 2.0.9 and iOS 2.0.17
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/axeptio_sdk.podspec
  pubspec.yaml
Due: none

chore: update flutter android example
  CHANGELOG.md
  example/android/app/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
  example/ios/Podfile.lock
  example/pubspec.lock
  ios/axeptio_sdk.podspec
Due: none

feat(core): replace native SDKs with pure Flutter WebView implementation (MSK-90)
  example/pubspec.lock
  lib/src/channel/axeptio.dart
  lib/src/channel/axeptio_sdk_method_channel.dart
  lib/src/channel/axeptio_sdk_platform_interface.dart
  lib/src/events/events_handler.dart
  lib/src/gvl/gvl_service.dart
  lib/src/src.dart
  lib/src/webview/axeptio_consent_view.dart
  lib/src/webview/consent_url_builder.dart
  lib/src/webview/tcf_storage.dart
  lib/src/webview/webview_axeptio_sdk.dart
  pubspec.yaml
  test/axeptio_sdk_test.dart
  test/channel/axeptio_sdk_platform_interface_test.dart
  test/events/events_handler_test.dart
  test/gvl/gvl_service_test.dart
  test/webview/axeptio_consent_view_test.dart
  test/webview/consent_url_builder_test.dart
  test/webview/tcf_storage_test.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): add webview_flutter_platform_interface as dev_dependency
  pubspec.yaml
Due: none

ci: pin Node.js to version from .nvmrc in release workflows
  .github/workflows/beta-release.yml
  .github/workflows/semver-release.yml
Due: actionlint

fix(core): address PR #87 review comments for WebView migration
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioEventStreamHandler.kt
  android/src/main/kotlin/io/axept/axeptio_sdk/AxeptioSdkPlugin.kt
  example/pubspec.lock
  ios/Classes/AxeptioEventStreamHandler.swift
  ios/Classes/AxeptioSdkPlugin.swift
  ios/Classes/ModelHelper.swift
  ios/axeptio_sdk.podspec
  lib/src/channel/axeptio_sdk_platform_interface.dart
  lib/src/events/events_handler.dart
  lib/src/src.dart
  lib/src/webview/axeptio_consent_view.dart
  lib/src/webview/tcf_storage.dart
  lib/src/webview/webview_axeptio_sdk.dart
  pubspec.yaml
  test/axeptio_sdk_test.dart
  test/gvl/gvl_service_test.dart
  test/webview/axeptio_consent_view_test.dart
  test/webview/tcf_storage_test.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): address new Copilot review comments on PR #87
  README.md
  lib/src/webview/axeptio_consent_view.dart
  test/webview/webview_axeptio_sdk_test.dart
Due: flutter-analyze, flutter-format, flutter-test

fix(core): tighten navigation allowlist to https-only and update TESTING.md coverage
  TESTING.md
  lib/src/webview/axeptio_consent_view.dart
Due: flutter-analyze, flutter-format, flutter-test

Path conditions:
  flutter-analyze: any of: \.(dart)$
  flutter-format: any of: \.(dart)$
  flutter-test: any of: \.(dart)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
